.create_blog{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.create_blog form{
    max-width: 800px;
    min-width: 290px;
    width: 100%;
    margin: 15px 30px;
    margin-top: 0.6cm;
    border-radius: 5px;
    height: 100%px;
}

.create_blog form .row{
    width: 100%;
    margin: 15px 0;
}

.create_blog form .row :focus{
    border-color: #1071e0;
   
}

.create_blog form input, textarea{
    width: 100%;
    min-height: 40px;
    padding: 0 5px;
    border-radius: 5px;
    border-color: rgb(150, 150, 150);
}

.create_blog form button{
    width: 150px;
    height: 40px;
    background: white;
    border: 2px solid #1174e6;
    color: #1174e6;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    margin-left: 130px;
    margin-top: 0.5cm;
    border-radius: 10px;
}

.create_blog form button:hover {
    background: #1174e6;
    color: white;
  }

#createblogform {
    border: solid rgb(207, 205, 205) 1px;
    padding: 10px 50px 30px 50px;
}



#dropdwn{
    width: 100%;
    min-height: 40px;
    padding: 0 5px;
    border-radius: 5px;
    margin-top: 7px;
    border-color: rgb(133, 133, 133);
}

#heading {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(54, 54, 54);
}